[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
whitenoise = "*"
django-heroku = "*"
django-rest-auth = "*"
django-allauth = "*"
gunicorn = "*"
django-rest-api = "*"
"psycopg2-binary" = "*"
pusher = "*"
dj-database-url = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
